.excerpt {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 15px;
	padding: 20px;
	border:solid white 1px;
	
}
header {
	margin-left: 20px;
    font-style:italic;
    font-weight: bold;
}

.container{
	margin: 0 auto;
	width: 95%;
	max-width: 960px;

}
h1{
	font-size:40px;
}
h2{font-size:25px;}

p{
	font-size:20px;
	padding:10px;
	font-family: "Times New Roman", Times, serif;
}
