nav ul {
	list-style-type: none;
	display: inline;
	font-family:"Courier New",Monospace;
	display: flex;
	justify-content: space-around;

}

nav li {
	max-width: max-content; 
	margin:20px;
	width: 50%;
}

nav a {
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	color: grey;
	font-size:120%;
	text-decoration: underline;
}

.current {
	color: black;
	text-shadow: 1px 1px 1px grey;
	background-color: white;
}
