.container{
	margin: 0 auto;
	width: 95%;
	max-width: 960px;
}
header {
	margin-left: 20px;
    font-style:italic;
    font-weight: bold;
}
p{

	line-height:1.5em;
	font-size:15px;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
}
main p{
	border:dashed grey 1px;
}
h1{
	font-size:40px;
}
h2{
	font-size:25px;
	font-style: italic;
	background-color: black;
	color:white;
}
h3{
	font-size: 20px;
}

sub{
	font-size:15px;
}
ul{
	margin:10px;
	list-style-type: circle;
	padding:20px;
}
th, td {
	border: 1px solid black;
	text-align: center;
}