.container{
	margin: 0 auto;
	width: 95%;
	max-width: 960px;
}
header {
	margin-left: 20px;
    font-style:italic;
    font-weight: bold;
}
p{
	line-height:1.5em;
	padding: 10px;
}
main p{
	border:dashed black 1px;
}
h2{
	font-style: italic;
	background-color: black;
	color:white;
}